html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 1440px;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background-color: #f5f5f5;
}

/* Pagination */

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}
.container .pagination {
  font-size: 20px;
  text-align: center;
}
.container .pagination span {
  height: 30px;
  width: 30px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 2s;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}

.container .pagination span:first-child {
  margin-left: 10px;
}
.container .pagination span:last-child {
  margin-right: 10px;
}
